@media screen and (max-width:1200px) {
    .headerSection img {
        margin: auto;
        width: 50vw;
    }
    .headerSection h1 {
        margin: auto;
        padding-top: 30vh;
        font-family: 'Redressed', cursive;
        font-size: 4.4rem;
    }
    .headerSection h3 {
        margin: auto;
        font-family: 'PT Serif', serif;
        max-width: 80%;
        margin-bottom: 5vh;
    }
}

@media screen and (max-width:1000px) {
    .headerSection img {
        margin: auto;
        width: 50vw;
    }
    .headerSection h1 {
        margin: auto;
        padding-top: 30vh;
        font-family: 'Redressed', cursive;
        font-size: 3.4rem;
    }
    .headerSection h3 {
        margin: auto;
        font-family: 'PT Serif', serif;
        max-width: 100%;
        margin-bottom: 5vh;
        font-size: 1.8rem;
    }
}

@media screen and (max-width:600px) {
    .headerSection {
        text-align: center;
        padding: 0 5% 0 5%;
        color: black;
        height: 90vh;
        background-color: rgba(255, 255, 255, 0.486);
    }
    .headerSectionPart1 {
        order: 2;
        margin-bottom: 10vh;
    }
    .headerSectionPart2 {
        order: 1;
    }
    .headerSection img {
        margin: auto;
        width: 80vw;
    }
    .headerSection h1 {
        margin: auto;
        padding-top: 2vh;
        font-family: 'Redressed', cursive;
        font-size: 4.4rem;
    }
    .headerSection h3 {
        margin: auto;
        font-family: 'PT Serif', serif;
        max-width: 80%;
        margin-bottom: 5vh;
    }
    .aboutMe {
        margin-top: 0vh;
        text-align: center;
        margin-bottom: 5vh;
    }
    .aboutMeInnerDiv h2 {
        font-family: 'PT Serif', serif;
    }
    .aboutMeInnerDiv {
        background-color: #0F0E0E;
        color: white;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 5vh;
        padding-bottom: 5vh;
        margin-top: 0vh;
    }
    .aboutMeInnerDivPart1 {
        order: 2;
    }
    .aboutMeInnerDivPart2 {
        order: 1;
    }
    .aboutMe h3 {
        text-align: center;
        font-family: 'Mukta', sans-serif;
        text-decoration: underline;
        padding-top: 8vh;
        padding-bottom: 2vh;
    }
    .aboutMe p {
        font-family: 'Mukta', sans-serif;
        text-align: left;
        padding-left: 10px;
        padding-right: 20px;
        font-size: 1.2rem;
    }
    .carouselLocalEdit img {
        padding-top: 5vh;
        margin: auto;
        width: 50vw;
    }
    .myProjects h2 {
        font-family: 'PT Serif', serif;
    }
    .myProjectsInnerDiv {
        margin: auto;
        max-width: 70vw;
        padding-top: 5vh;
    }
    .myProjectsInnerDiv h3 {
        margin: auto;
        font-family: 'Mukta', sans-serif;
        max-width: 80%;
        font-size: 1.8rem;
    }
    .cardHead {
        border: 3px solid gray;
        background-color: #5800FF;
        padding-top: 2vh;
        border-radius: 5px 5px 0 0;
        padding-bottom: 2vh;
        min-height: 15vh;
        color: white;
    }
    .cardHead2 {
        background-color: #2EB086;
    }
    .cardHead3 {
        background-color: #FFC600;
    }
    .cardBody {
        background-color: rgba(128, 128, 128, 0.5);
        border: 2px solid rgba(128, 128, 128, 0.527);
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    .cardBody img {
        position: relative;
        max-width: 45vw;
    }
    .cardDescription {
        background-color: rgba(128, 128, 128, 0.267);
        color: #000000;
        border-radius: 0 0 5px 5px;
        border: 3px solid gray;
        padding: 5vh 0 5px 0;
        line-height: 1;
        margin-bottom: 5vh;
    }
    .cardDescription p {
        font-family: 'Mukta', sans-serif;
        text-align: left;
        padding-left: 5vw;
        padding-right: 5vw;
        font-weight: bold;
        font-size: 1.5rem;
    }
    .cardDescriptionPython p {
        font-size: 1.2rem;
    }
    .contactME h2 {
        font-family: 'Redressed', cursive;
        padding-bottom: 5vh;
        font-size: 3rem;
    }
    .contactME h3 {
        padding-bottom: 2vh;
    }
    .contactUsIcons {
        font-size: 9vw;
        margin-top: 1vh;
    }
    .contactUsIcon {
        margin: auto;
        width: 12vw;
        height: 12vw;
        background-color: #222831;
        border-radius: 50%;
    }
    .contactME {
        padding-bottom: 5vh;
    }
}